.nested-fields
  = f.association :day_name, collection: day_name, html: { class: 'choices-select'}, :include_blank => "(select if none)"
  %h3 exercise:
  = f.simple_fields_for :exercises do |exercise|
    = render 'exercise_fields', f: exercise
  .links
    = link_to_add_association 'Add an Exercise', f, :exercises
  = link_to_remove_association "remove Day", f
