.nested-fields
  = f.association :day_name, collection: DayName.pluck(:name, :id), html: { class: 'choices-select'}, prompt: 'Choose an Day'
  %h3 exercise:
  = f.simple_fields_for :exercises do |exercise|
    = render 'exercise_fields', f: exercise
  .links
    = link_to_add_association 'Add an Exercise', f, :exercises
  = link_to_remove_association "remove Day", f
