.nested-fields
   = f.association :workout_name, collection: WorkoutName.order(:name).pluck(:name, :id), prompt: 'Choose an Exercise'
   = f.input :intensity, label: 'Reps/Time'
   = f.input :sets
   = f.association :exercise_status, collection: ExerciseStatus.order(:name).pluck(:name, :id), prompt: 'Choose an Status'
   = f.input :rest_between_sets
   = f.input :rest_between_exercises
   = link_to_remove_association "remove exercise", f
