.nested-fields
   = f.association :workout_name, collection: workout_name, prompt: 'Choose an Exercise'
   =f.input :grouped, as: :boolean
   = f.input :intensity, label: 'Reps/Time'
   = f.input :number, label: 'Exercise order'
   = f.input :percentage, collection: (10..100).step(10).map{ |n| ["#{n}%", n] }, html: { class: 'choices-select'}, prompt: 'Choose an Status'
   = f.input :sets
   = f.association :exercise_status, collection: exercise_status, html: { class: 'choices-select'}, prompt: 'Choose an Status'
   = f.input :rest_between_sets_id, label: 'Rest Between sets', collection: rest_time, prompt: 'Choose a Rest Time'
   = f.input :rest_between_exercises_id, label: 'Rest Between Exercises', collection: rest_time, prompt: 'Choose a Rest Time'
   = link_to_remove_association "remove exercise", f
