= simple_form_for(@schedule) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  .form-inputs
    = f.input :title, placeholder: 'The title of your Schedule'
    %h3 Week
    #weeks
      = f.simple_fields_for :weeks do |week|
        .daily-stuff
          = render 'week_fields', f: week
          = link_to_add_association 'Add an Week', f, :weeks
  .form-actions
    = f.button :submit
