<% @day ||= local_assigns[:day] %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Intensity</th>
      <th scope="col">Rest</th>
      <% if @day.week.number == 1 %>
      <th>Test Result</th>
      <% else %>
      <th>Workout reps/time</th>
      <% end %>
      <th scope="col">Percentage</th>
      <th scope="col">Set(s)</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
<% @day.exercises.each do |exercise| %>
  <tr>
    <td><%= exercise.workout_name.name.titleize %></td>
    <td><%= exercise.intensity %></td>
    <td>
      <% unless @day.week.number == 1 %>
        <%= turbo_frame_tag exercise do %>
          <%= render partial: 'days/rest_time', locals: { exercise: exercise } %>
        <% end %>
      <% end%>
    </td>
    <% if @day.week.number == 1 %>
      <td>
        <%= turbo_frame_tag exercise do %>
          <%= render partial: 'update_test_result', locals: { exercise: exercise } %>
        <% end %>
      </td>
      <% else %>
      <td><%= exercise.workout_value %></td>
    <% end %>
    <% unless @day.week.number == 1 %>
      <td>
      <%= form_with model: exercise, url: update_percentage_path(id: exercise, format: :turbo_stream), id: dom_id(exercise) do |exercise| %>
        <%= exercise.select :percentage, options_for_select([[50, ".5"],[60, ".6"],[70, ".7"],[80, ".8"],[90, ".9"],[100, "1"]]) %>
        <%= exercise.submit 'Update', class: 'btn btn-primary' %>
      <% end %>
      </td>
    <% end %>
    <td><%= exercise.sets %></td>
    <td>
      <%= form_with model: exercise, url: update_notes_path(id: exercise, format: :turbo_stream), id: dom_id(exercise, :notes) do |exercise| %>
        <%= exercise.text_area :notes, id: "tes_result_#{exercise.id}" %>
        <%= exercise.submit 'Update', class: 'btn btn-primary' %>
      <% end %>
    </td>
  </tr>
  <% if exercise.rest_between_exercises.present? %>
    <tr>
      <td></td>
      <td></td>
      <td>
        <%= exercise.rest_between_exercises %>
      </td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
<% end %>
</tbody>
</table>
<div class="flex justify-right" id="load_more_button">
  <% if next_day = find_next_day(@day) %>
    <%= link_to find_next_day(@day)&.name, day_path(id: next_day&.id) %>
    <% end %>
</div>
